<!-- BEGIN Sidemenu -->
<div class="sidemenu sidemenu-left sidemenu-wider" id="sidemenu-settings">
	<div class="sidemenu-header">
		<h3 class="sidemenu-title">Settings</h3>
		<div class="sidemenu-addon">
			<button class="btn btn-label-danger btn-icon" data-dismiss="sidemenu">
				<i class="fa fa-times"></i>
			</button>
		</div>
	</div>
	<div class="sidemenu-body pb-0" data-simplebar="data-simplebar">

		<!-- BEGIN Portlet -->
		<div class="portlet portlet-bordered">
			<div class="portlet-header portlet-header-bordered">
				<div class="portlet-icon">
					<i class="fa fa-bolt"></i>
				</div>
				<h3 class="portlet-title">Performance</h3>
			</div>
			<div class="portlet-body">

				<!-- BEGIN Widget -->
				<div class="widget4 mb-3">
					<div class="widget4-group">
						<div class="widget4-display">
							<h6 class="widget4-subtitle">CPU Load</h6>
						</div>
						<div class="widget4-addon">
							<h6 class="widget4-subtitle text-info">60%</h6>
						</div>
					</div>

					<!-- BEGIN Progress -->
					<div class="progress progress-sm">
						<div class="progress-bar bg-info" style="width: 60%"></div>
					</div>
					<!-- END Progress -->

				</div>
				<!-- END Widget -->

				<!-- BEGIN Widget -->
				<div class="widget4 mb-3">
					<div class="widget4-group">
						<div class="widget4-display">
							<h6 class="widget4-subtitle">CPU Temparature</h6>
						</div>
						<div class="widget4-addon">
							<h6 class="widget4-subtitle text-success">42°</h6>
						</div>
					</div>

					<!-- BEGIN Progress -->
					<div class="progress progress-sm">
						<div class="progress-bar bg-success" style="width: 30%"></div>
					</div>
					<!-- END Progress -->

				</div>
				<!-- END Widget -->

				<!-- BEGIN Widget -->
				<div class="widget4">
					<div class="widget4-group">
						<div class="widget4-display">
							<h6 class="widget4-subtitle">RAM Usage</h6>
						</div>
						<div class="widget4-addon">
							<h6 class="widget4-subtitle text-danger">6,532 MB</h6>
						</div>
					</div>

					<!-- BEGIN Progress -->
					<div class="progress progress-sm">
						<div class="progress-bar bg-danger" style="width: 80%"></div>
					</div>
					<!-- END Progress -->

				</div>
				<!-- END Widget -->

			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet portlet-bordered">
			<div class="portlet-header">
				<h3 class="portlet-title">Customer care</h3>
			</div>
			<div class="portlet-body">

				<!-- BEGIN Form Group -->
				<div class="form-group">

					<!-- BEGIN Custom Switch -->
					<div class="custom-control custom-control-lg custom-switch">
						<input type="checkbox" class="custom-control-input" id="generalSetting1">
						<label class="custom-control-label" for="generalSetting1">Enable notifications</label>
					</div>
					<!-- END Custom Switch -->

				</div>
				<!-- END Form Group -->

				<!-- BEGIN Form Group -->
				<div class="form-group">

					<!-- BEGIN Custom Switch -->
					<div class="custom-control custom-control-lg custom-switch">
						<input type="checkbox" class="custom-control-input" id="generalSetting2" checked="checked">
						<label class="custom-control-label" for="generalSetting2">Enable case tracking</label>
					</div>
					<!-- END Custom Switch -->

				</div>
				<!-- END Form Group -->

				<!-- BEGIN Form Group -->
				<div class="form-group mb-0">

					<!-- BEGIN Custom Switch -->
					<div class="custom-control custom-control-lg custom-switch">
						<input type="checkbox" class="custom-control-input" id="generalSetting3">
						<label class="custom-control-label" for="generalSetting3">Support portal</label>
					</div>
					<!-- END Custom Switch -->

				</div>
				<!-- END Form Group -->

			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet portlet-bordered">
			<div class="portlet-header">
				<h3 class="portlet-title">Reports</h3>
			</div>
			<div class="portlet-body">

				<!-- BEGIN Form Group -->
				<div class="form-group">

					<!-- BEGIN Custom Switch -->
					<div class="custom-control custom-control-lg custom-switch">
						<input type="checkbox" class="custom-control-input" id="generalSetting4">
						<label class="custom-control-label" for="generalSetting4">Generate reports</label>
					</div>
					<!-- END Custom Switch -->

				</div>
				<!-- END Form Group -->

				<!-- BEGIN Form Group -->
				<div class="form-group">

					<!-- BEGIN Custom Switch -->
					<div class="custom-control custom-control-lg custom-switch">
						<input type="checkbox" class="custom-control-input" id="generalSetting5" checked="checked">
						<label class="custom-control-label" for="generalSetting5">Enable report export</label>
					</div>
					<!-- END Custom Switch -->

				</div>
				<!-- END Form Group -->

				<!-- BEGIN Form Group -->
				<div class="form-group mb-0">

					<!-- BEGIN Custom Switch -->
					<div class="custom-control custom-control-lg custom-switch">
						<input type="checkbox" class="custom-control-input" id="generalSetting6">
						<label class="custom-control-label" for="generalSetting6">Allow data</label>
					</div>
					<!-- END Custom Switch -->

				</div>
				<!-- END Form Group -->

			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet portlet-bordered">
			<div class="portlet-header">
				<h3 class="portlet-title">Projects</h3>
			</div>
			<div class="portlet-body">

				<!-- BEGIN Form Group -->
				<div class="form-group">

					<!-- BEGIN Custom Switch -->
					<div class="custom-control custom-control-lg custom-switch">
						<input type="checkbox" class="custom-control-input" id="generalSetting7">
						<label class="custom-control-label" for="generalSetting7">Enable create projects</label>
					</div>
					<!-- END Custom Switch -->

				</div>
				<!-- END Form Group -->

				<!-- BEGIN Form Group -->
				<div class="form-group">

					<!-- BEGIN Custom Switch -->
					<div class="custom-control custom-control-lg custom-switch">
						<input type="checkbox" class="custom-control-input" id="generalSetting8" checked="checked">
						<label class="custom-control-label" for="generalSetting8">Enable custom projects</label>
					</div>
					<!-- END Custom Switch -->

				</div>
				<!-- END Form Group -->

				<!-- BEGIN Form Group -->
				<div class="form-group mb-0">

					<!-- BEGIN Custom Switch -->
					<div class="custom-control custom-control-lg custom-switch">
						<input type="checkbox" class="custom-control-input" id="generalSetting9">
						<label class="custom-control-label" for="generalSetting9">Enable project review</label>
					</div>
					<!-- END Custom Switch -->

				</div>
				<!-- END Form Group -->

			</div>
		</div>
		<!-- END Portlet -->

	</div>
</div>
<!-- END Sidemenu -->
