<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header portlet-header-bordered">
    <div class="portlet-icon">
      <i class="fa fa-inbox"></i>
    </div>
    <h3 class="portlet-title">Support requests</h3>
  </div>
  <div class="portlet-body">
    <div class="row">
      <div class="col-md-6 col-lg-5">

        <!-- BEGIN Chart -->
        <div class="d-flex justify-content-center" id="widget-chart-4"></div>
        <!-- END Chart -->

        <div class="d-flex justify-content-around mt-4">
          <span class="text-muted">
            <i class="marker marker-pill text-primary"></i>
            20% Margin
          </span>
          <span class="text-muted">
            <i class="marker marker-pill text-success"></i>
            70% Profit
          </span>
          <span class="text-muted">
            <i class="marker marker-pill text-danger"></i>
            10% Lost
          </span>
        </div>
      </div>
      <div class="col-md-6 col-lg-7">

        <!-- BEGIN Table -->
        <table class="table">
          <tbody>
            <tr>
              <td class="border-top-0">Type</td>
              <td class="text-right border-top-0">Amount</td>
            </tr>
            <tr>
              <td>EPS</td>
              <td class="text-right text-primary">+75,10%</td>
            </tr>
            <tr>
              <td>PDO</td>
              <td class="text-right text-success">15,900</td>
            </tr>
            <tr>
              <td>OPL Status</td>
              <td class="text-right text-danger">Negative</td>
            </tr>
            <tr>
              <td>Priority</td>
              <td class="text-right text-info">+460,080</td>
            </tr>
            <tr>
              <td>Net profit</td>
              <td class="text-right text-primary">$215,950</td>
            </tr>
          </tbody>
        </table>
        <!-- END Table -->

      </div>
    </div>
  </div>
</div>
<!-- END Portlet -->
