<!-- BEGIN Button Group -->
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-flat-primary active">
    <input type="radio" name="timeOption" id="timeOption1" checked="checked">
    Today
  </label>
  <label class="btn btn-flat-primary">
    <input type="radio" name="timeOption" id="timeOption2">
    Week
  </label>
  <label class="btn btn-flat-primary">
    <input type="radio" name="timeOption" id="timeOption3">
    Month
  </label>
</div>
<!-- END Button Group -->

<button class="btn btn-label-info btn-icon mr-2" id="fullscreen-trigger" data-toggle="tooltip" title="Toggle fullscreen" data-placement="right">
  <i class="fa fa-expand fullscreen-icon-expand"></i>
  <i class="fa fa-compress fullscreen-icon-compress"></i>
</button>
