{% extends "components/template.njk" %}

{% set direction = "ltr" %}
{% set page_title = "Preview" %}
{% set enable_aside = false %}
{% set minimized_aside = false %}
{% set enable_header = false %}
{% set enable_footer = false %}
{% set enable_scrolltop = false %}

{% block content %}
  <div class="container">
    <h5 class="text-center text-level-2">Explore</h5>
    <h2 class="text-center text-primary font-weight-bolder mb-0">Dashboards</h2>
    <hr class="my-4">
    <div class="row portlet-row-fill justify-content-center">
      <div class="col-sm-6">

        <!-- BEGIN Portlet -->
        <div class="widget19">
          <a href="{{ 'ltr/index.html' | url }}" class="widget19-image">
            <img src="{{ 'assets/images/preview/ltr.webp' | url }}">
          </a>
          <div class="widget19-wrap">
            <div class="widget19-content">
              <h4 class="widget19-title">Left to Right</h4>
            </div>
            <div class="widget19-action">
              <a href="{{ 'ltr/index.html' | url }}" class="btn btn-primary btn-wide">Visit</a>
            </div>
          </div>
        </div>
        <!-- END Portlet -->

      </div>
      <div class="col-sm-6">

        <!-- BEGIN Portlet -->
        <div class="widget19">
          <a href="{{ 'rtl/index.html' | url }}" class="widget19-image">
            <img src="{{ 'assets/images/preview/rtl.webp' | url }}">
          </a>
          <div class="widget19-wrap">
            <div class="widget19-content">
              <h4 class="widget19-title">Right to Left</h4>
            </div>
            <div class="widget19-action">
              <a href="{{ 'rtl/index.html' | url }}" class="btn btn-primary btn-wide">Visit</a>
            </div>
          </div>
        </div>
        <!-- END Portlet -->

      </div>
    </div>
  </div>
{% endblock %}
