{% extends "components/template.njk" %}

{% set direction = "ltr" %}
{% set page_title = "Badge" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "ltr/index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Base" },
  { text: "Badge", link: "ltr/elements/base/badge.html" | url }
] %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Basic</h3>
          </div>
          <div class="portlet-body">
            <p>Add any of the below mentioned modifier classes to change the appearance of a badge.</p>
            <div class="row">
              <div class="col-md-6">

                <!-- BEGIN Portlet -->
                <div class="portlet">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Solid</h3>
                  </div>
                  <div class="portlet-body">
                    <p>Use <code>.badge-{color}</code> to apply these variant.</p>

                    <!-- BEGIN Badges -->
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-secondary">Secondary</span>
                    <span class="badge badge-success">Success</span>
                    <span class="badge badge-info">Info</span>
                    <span class="badge badge-warning">Warning</span>
                    <span class="badge badge-danger">Danger</span>
                    <span class="badge badge-dark">Dark</span>
                    <span class="badge badge-light">Light</span>
                    <!-- END Badges -->

                  </div>
                </div>
                <!-- END Portlet -->

                <!-- BEGIN Portlet -->
                <div class="portlet mb-md-0">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Outline</h3>
                  </div>
                  <div class="portlet-body">
                    <p>Use <code>.badge-outline-{color}</code> to apply these variant.</p>

                    <!-- BEGIN Badges -->
                    <span class="badge badge-outline-primary">Primary</span>
                    <span class="badge badge-outline-secondary">Secondary</span>
                    <span class="badge badge-outline-success">Success</span>
                    <span class="badge badge-outline-info">Info</span>
                    <span class="badge badge-outline-warning">Warning</span>
                    <span class="badge badge-outline-danger">Danger</span>
                    <span class="badge badge-outline-dark">Dark</span>
                    <span class="badge badge-outline-light">Light</span>
                    <!-- END Badges -->

                  </div>
                </div>
                <!-- END Portlet -->

              </div>
              <div class="col-md-6">

                <!-- BEGIN Portlet -->
                <div class="portlet">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Label</h3>
                  </div>
                  <div class="portlet-body">
                    <p>Use <code>.badge-label-{color}</code> to apply these variant.</p>

                    <!-- BEGIN Badges -->
                    <span class="badge badge-label-primary">Primary</span>
                    <span class="badge badge-label-secondary">Secondary</span>
                    <span class="badge badge-label-success">Success</span>
                    <span class="badge badge-label-info">Info</span>
                    <span class="badge badge-label-warning">Warning</span>
                    <span class="badge badge-label-danger">Danger</span>
                    <span class="badge badge-label-dark">Dark</span>
                    <span class="badge badge-label-light">Light</span>
                    <!-- END Badges -->

                  </div>
                </div>
                <!-- END Portlet -->

                <!-- BEGIN Portlet -->
                <div class="portlet mb-0">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Text</h3>
                  </div>
                  <div class="portlet-body">
                    <p>Use <code>.badge-text-{color}</code> to apply these variant.</p>

                    <!-- BEGIN Badges -->
                    <span class="badge badge-text-primary">Primary</span>
                    <span class="badge badge-text-secondary">Secondary</span>
                    <span class="badge badge-text-success">Success</span>
                    <span class="badge badge-text-info">Info</span>
                    <span class="badge badge-text-warning">Warning</span>
                    <span class="badge badge-text-danger">Danger</span>
                    <span class="badge badge-text-dark">Dark</span>
                    <span class="badge badge-text-light">Light</span>
                    <!-- END Badges -->

                  </div>
                </div>
                <!-- END Portlet -->

              </div>
            </div>
          </div>
        </div>
        <!-- END Portlet -->

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Sizing</h3>
          </div>
          <div class="portlet-body">
            <p>Change your badges size by adding <code>.badge-{lg|xl}</code> modifier classes.</p>

            <!-- BEGIN Badges -->
            <span class="badge badge-primary">Primary</span>
            <span class="badge badge-secondary">Secondary</span>
            <span class="badge badge-success">Success</span>
            <span class="badge badge-info">Info</span>
            <span class="badge badge-warning">Warning</span>
            <span class="badge badge-danger">Danger</span>
            <!-- END Badges -->

            <div class="m-4"></div>

            <!-- BEGIN Badges -->
            <span class="badge badge-primary badge-lg">Primary</span>
            <span class="badge badge-secondary badge-lg">Secondary</span>
            <span class="badge badge-success badge-lg">Success</span>
            <span class="badge badge-info badge-lg">Info</span>
            <span class="badge badge-warning badge-lg">Warning</span>
            <span class="badge badge-danger badge-lg">Danger</span>
            <!-- END Badges -->

            <div class="m-4"></div>

            <!-- BEGIN Badges -->
            <span class="badge badge-primary badge-xl">Primary</span>
            <span class="badge badge-secondary badge-xl">Secondary</span>
            <span class="badge badge-success badge-xl">Success</span>
            <span class="badge badge-info badge-xl">Info</span>
            <span class="badge badge-warning badge-xl">Warning</span>
            <span class="badge badge-danger badge-xl">Danger</span>
            <!-- END Badges -->

          </div>
        </div>
        <!-- END Portlet -->

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Shaped badges</h3>
          </div>
          <div class="portlet-body">
            <p>Make your badge into a circle or square shape by adding <code>.badge-{circle|square}</code> modifier classes.</p>
            <div class="row">
              <div class="col-md-6">

                <!-- BEGIN Portlet -->
                <div class="portlet mb-md-0">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Circle</h3>
                  </div>
                  <div class="portlet-body">

                    <!-- BEGIN Badges -->
                    <span class="badge badge-primary badge-circle">A</span>
                    <span class="badge badge-outline-secondary badge-circle badge-lg">B</span>
                    <span class="badge badge-label-success badge-circle badge-xl">C</span>
                    <span class="badge badge-warning badge-circle">D</span>
                    <span class="badge badge-outline-danger badge-circle badge-lg">E</span>
                    <span class="badge badge-label-dark badge-circle badge-xl">F</span>
                    <!-- END Badges -->

                  </div>
                </div>
                <!-- END Portlet -->

              </div>
              <div class="col-md-6">

                <!-- BEGIN Portlet -->
                <div class="portlet mb-0">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Square</h3>
                  </div>
                  <div class="portlet-body">

                    <!-- BEGIN Badges -->
                    <span class="badge badge-primary badge-square">A</span>
                    <span class="badge badge-outline-secondary badge-square badge-lg">B</span>
                    <span class="badge badge-label-success badge-square badge-xl">C</span>
                    <span class="badge badge-warning badge-square">D</span>
                    <span class="badge badge-outline-danger badge-square badge-lg">E</span>
                    <span class="badge badge-label-dark badge-square badge-xl">F</span>
                    <!-- END Badges -->

                  </div>
                </div>
                <!-- END Portlet -->

              </div>
            </div>
          </div>
        </div>
        <!-- END Portlet -->

      </div>
      <div class="col-md-6">

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Links</h3>
          </div>
          <div class="portlet-body">
            <p>Using the contextual <code>.badge-{color}</code> classes on an <code>{{ "<a>" }}</code> element quickly provide <em>actionable</em> badges with hover and focus states.</p>

            <!-- BEGIN Badges -->
            <a href="#" class="badge badge-primary">Primary</a>
            <a href="#" class="badge badge-outline-secondary">Secondary</a>
            <a href="#" class="badge badge-label-success">Success</a>
            <a href="#" class="badge badge-label-info">Info</a>
            <a href="#" class="badge badge-outline-warning">Warning</a>
            <a href="#" class="badge badge-text-danger">Danger</a>
            <a href="#" class="badge badge-text-dark">Dark</a>
            <a href="#" class="badge badge-light">Light</a>
            <!-- END Badges -->

          </div>
        </div>
        <!-- END Portlet -->

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Pill badges</h3>
          </div>
          <div class="portlet-body">
            <p>Use the <code>.badge-pill</code> modifier class to make badge element more rounded.</p>

            <!-- BEGIN Badges -->
            <span class="badge badge-primary badge-pill">Primary</span>
            <span class="badge badge-secondary badge-pill">Secondary</span>
            <span class="badge badge-info badge-pill">Info</span>
            <span class="badge badge-success badge-pill">Success</span>
            <span class="badge badge-warning badge-pill">Warning</span>
            <span class="badge badge-danger badge-pill">Danger</span>
            <span class="badge badge-dark badge-pill">Dark</span>
            <span class="badge badge-light badge-pill">Light</span>
            <!-- END Badges -->

          </div>
        </div>
        <!-- END Portlet -->

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header">
            <h3 class="portlet-title">Examples</h3>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="col-md-6">

                <!-- BEGIN Portlet -->
                <div class="portlet mb-md-0">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Header with badge</h3>
                  </div>
                  <div class="portlet-body">
                    <h5 class="mb-0">Heading
                      <span class="badge badge-primary">badge</span></h5>
                  </div>
                </div>
                <!-- END Portlet -->

              </div>
              <div class="col-md-6">

                <!-- BEGIN Portlet -->
                <div class="portlet mb-0">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Badge inside button</h3>
                  </div>
                  <div class="portlet-body">
                    <button class="btn btn-primary">Notification
                      <span class="badge badge-secondary">+ 10</span></button>
                  </div>
                </div>
                <!-- END Portlet -->

              </div>
            </div>
          </div>
        </div>
        <!-- END Portlet -->

      </div>
    </div>
  </div>
{% endblock %}
