{% extends "components/template.njk" %}

{% set direction = "ltr" %}
{% set page_title = "Navigation" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "ltr/index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Base" },
  { text: "Navigation", link: "ltr/elements/base/nav.html" | url }
] %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Basic</h3>
          </div>
          <div class="portlet-body">
            <p>The base <code>.nav</code> component is built with flexbox and provide a strong foundation for building all types of navigation components. It includes some style overrides (for working with lists), some link padding for larger hit areas, and basic disabled styling.</p>

            <!-- BEGIN Portlet -->
            <div class="portlet">
              <div class="portlet-header portlet-header-bordered">
                <h3 class="portlet-title">Default</h3>
              </div>
              <div class="portlet-body">
                <p>This is basic example for nav elements</p>

                <!-- BEGIN Nav -->
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-animated">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <!-- END Nav -->

              </div>
            </div>
            <!-- END Portlet -->

            <!-- BEGIN Portlet -->
            <div class="portlet">
              <div class="portlet-header portlet-header-bordered">
                <h3 class="portlet-title">Pill</h3>
              </div>
              <div class="portlet-body">
                <p>Take that same HTML, but use <code>.nav-pills</code> instead</p>

                <!-- BEGIN Nav -->
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-animated">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <!-- END Nav -->

              </div>
            </div>
            <!-- END Portlet -->

            <!-- BEGIN Portlet -->
            <div class="portlet">
              <div class="portlet-header portlet-header-bordered">
                <h3 class="portlet-title">Tab</h3>
              </div>
              <div class="portlet-body">
                <p>Takes the basic nav from above and adds the <code>.nav-tabs</code> class to generate a tabbed interface.</p>

                <!-- BEGIN Nav -->
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-animated">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <!-- END Nav -->

              </div>
            </div>
            <!-- END Portlet -->

            <!-- BEGIN Portlet -->
            <div class="portlet mb-0">
              <div class="portlet-header portlet-header-bordered">
                <h3 class="portlet-title">Line</h3>
              </div>
              <div class="portlet-body">
                <p>Take that same HTML, but use <code>.nav-lines</code> instead</p>

                <!-- BEGIN Nav -->
                <ul class="nav nav-lines">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-animated">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <!-- END Nav -->

              </div>
            </div>
            <!-- END Portlet -->

          </div>
        </div>
        <!-- END Portlet -->

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Additional elements</h3>
          </div>
          <div class="portlet-body">
            <p>You can combine other elements such as <a href="{{ 'ltr/elements/base/badge.html' | url }}">badges</a>, icon or caret to separate nav items, we provide <code>.nav-prepend</code> and <code>.nav-append</code> for wrapping those elements.</p>

            <!-- BEGIN Nav -->
            <ul class="nav nav-pills nav-vertical">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="nav-content">Link</span>
                  <div class="nav-append">
                    <i class="caret"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <div class="nav-prepend">
                    <div class="nav-icon">
                      <i class="fa fa-archive"></i>
                    </div>
                  </div>
                  <span class="nav-content">Active</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="nav-prepend">
                    <div class="nav-icon">
                      <i class="fa fa-cog"></i>
                    </div>
                  </div>
                  <span class="nav-content">Link</span>
                  <div class="nav-append">
                    <i class="caret"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">
                  <div class="nav-prepend">
                    <div class="nav-icon">
                      <i class="fa fa-wrench"></i>
                    </div>
                  </div>
                  <span class="nav-content">Disabled</span>
                  <div class="nav-append">
                    <span class="badge badge-warning badge-pill">2</span>
                  </div>
                </a>
              </li>
            </ul>
            <!-- END Nav -->

          </div>
        </div>
        <!-- END Portlet -->

      </div>
      <div class="col-md-6">

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <div class="portlet-title">Sizing</div>
          </div>
          <div class="portlet-body">
            <p>Add <code>nav-{lg|sm}</code> to make navigations are larger or smaller</p>

            <!-- BEGIN Nav -->
            <ul class="nav nav-pills nav-sm mb-3">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <!-- END Nav -->

            <!-- BEGIN Nav -->
            <ul class="nav nav-pills mb-3">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <!-- END Nav -->

            <!-- BEGIN Nav -->
            <ul class="nav nav-pills nav-lg">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <!-- END Nav -->

          </div>
        </div>
        <!-- END Portlet -->

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Vertical</h3>
          </div>
          <div class="portlet-body">
            <p>Add <code>.nav-vertical</code> class to <code>.nav</code> elements for applying vertical appearance, but this feature is not supported for <code>.nav-tabs</code> class.</p>
            <div class="row">
              <div class="col-sm-6">

                <!-- BEGIN Portlet -->
                <div class="portlet mb-sm-0">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Pill</h3>
                  </div>
                  <div class="portlet-body">

                    <!-- BEGIN Nav -->
                    <ul class="nav nav-pills nav-vertical">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                      </li>
                    </ul>
                    <!-- END Nav -->

                  </div>
                </div>
                <!-- END Portlet -->

              </div>
              <div class="col-sm-6">

                <!-- BEGIN Portlet -->
                <div class="portlet mb-0">
                  <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Line</h3>
                  </div>
                  <div class="portlet-body">

                    <!-- BEGIN Nav -->
                    <ul class="nav nav-lines nav-vertical">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                      </li>
                    </ul>
                    <!-- END Nav -->

                  </div>
                </div>
                <!-- END Portlet -->

              </div>
            </div>
          </div>
        </div>
        <!-- END Portlet -->

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Alignment</h3>
          </div>
          <div class="portlet-body">
            <p>Change the horizontal alignment of your nav with <strong>flexbox utilities</strong>. By default, navs are left-aligned, but you can easily change them to center or right aligned.</p>

            <!-- BEGIN Nav -->
            <ul class="nav mb-3">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <!-- END Nav -->

            <!-- BEGIN Nav -->
            <ul class="nav justify-content-center mb-3">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <!-- END Nav -->

            <!-- BEGIN Nav -->
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <!-- END Nav -->

          </div>
        </div>
        <!-- END Portlet -->

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Fill and justify</h3>
          </div>
          <div class="portlet-body">
            <p>Force your <code>.nav</code>'s contents to extend the full available width. To proportionately fill all available space with your <code>.nav-item</code>s, use <code>.nav-fill</code>. For equal-width elements, use <code>.nav-justified</code>. All horizontal space will be occupied by nav links.</p>

            <!-- BEGN Nav -->
            <ul class="nav nav-pills nav-fill mb-3">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Much longer nav link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <!-- END Nav -->

            <!-- BEGN Nav -->
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Longer link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <!-- END Nav -->

          </div>
        </div>
        <!-- END Portlet -->

      </div>
    </div>
  </div>
{% endblock %}
