{% extends "components/template.njk" %}

{% set direction = "rtl" %}
{% set page_title = "Sweet Alert" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "rtl/index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Advanced" },
  { text: "Sweet alert", link: "rtl/elements/advanced/sweet-alert.html" | url }
] %}
{% set js_links = [
  "assets/app/elements/sweet-alert.js" | url
] %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Sweet alert</h3>
          </div>
          <div class="portlet-body">
            <p><strong>Sweet alert</strong> is a beautiful, responsive, customizable, accessible replacement for javascripts's popup boxes with zero dependencies. Check <a href="http://sweetalert2.github.io" target="_blank">Sweet Alert's page</a> for more info.</p>
            <hr>

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">Basic example</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-1">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">Title with a text under</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-2">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">More complex modal</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-3">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">Custom HTML description</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-4">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">Dialog position</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-5">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">Confirm dialog</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-6">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">Custom image</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-7">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">Auto close timer</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-8">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">AJAX request</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-9">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">Chaining modals</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-10">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row mb-0">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-left">Toast</label>
              <div class="col-sm-8 col-lg-9">
                <button class="btn btn-primary" id="swal-11">Click me</button>
              </div>
            </div>
            <!-- END Form Group -->

          </div>
        </div>
        <!-- END Portlet -->

      </div>
    </div>
  </div>
{% endblock %}
