{% extends "components/template.njk" %}

{% set direction = "ltr" %}
{% set page_title = "Slider" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "ltr/index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Form" },
  { text: "Advanced" },
  { text: "Slider", link: "ltr/form/advanced/slider.html" | url }
] %}
{% set js_links = [
  "assets/app/form/slider.js" | url
] %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Ion range slider</h3>
          </div>
          <div class="portlet-body">
            <p><strong>Ion Range Slider</strong> is easy to use, flexible and responsive range slider. For more info, you can visit <a href="http://ionden.com/a/plugins/ion.rangeSlider" target="_blank">the homepage</a>.</p>
            <hr>

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Basic demo</label>
              <div class="col-sm-7 col-lg-6">
                <input type="text" id="slider-1">
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Min & max</label>
              <div class="col-sm-7 col-lg-6">
                <input type="text" id="slider-2">
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Negative value</label>
              <div class="col-sm-7 col-lg-6">
                <input type="text" id="slider-3">
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Step</label>
              <div class="col-sm-7 col-lg-6">
                <input type="text" id="slider-4">
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Prefixes</label>
              <div class="col-sm-7 col-lg-6">
                <input type="text" id="slider-5">
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Fractional range & step</label>
              <div class="col-sm-7 col-lg-6">
                <input type="text" id="slider-6">
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Postfixes</label>
              <div class="col-sm-7 col-lg-6">
                <input type="text" id="slider-7">
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row mb-0">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Labels</label>
              <div class="col-sm-7 col-lg-6">
                <input type="text" id="slider-8">
              </div>
            </div>
            <!-- END Form Group -->

          </div>
        </div>
        <!-- END Portlet -->

      </div>
    </div>
  </div>
{% endblock %}
