<!-- BEGIN Float Button -->
<div class="float-btn float-btn-left">
  <button class="btn btn-flat-primary btn-icon mb-2" id="theme-toggle" data-toggle="tooltip" data-placement="left" title="Change theme">
    <i class="fa fa-moon"></i>
  </button>
  <a href="{{ 'ltr/index.html' | url }}" class="btn btn-flat-primary btn-icon" data-toggle="tooltip" data-placement="left" title="Switch to LTR">
    <i class="fa fa-sync"></i>
  </a>
</div>
<!-- END Float Button -->
