{% extends "components/template.njk" %}

{% set direction = "ltr" %}
{% set page_title = "Date Picker" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "ltr/index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Form" },
  { text: "Advanced" },
  { text: "Date picker", link: "ltr/form/advanced/datepicker.html" | url }
] %}
{% set js_links = [
  "assets/app/form/datepicker.js" | url
] %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <!-- BEGIN Portlet -->
        <div class="portlet">
          <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">Date picker</h3>
          </div>
          <div class="portlet-body">
            <p>A datepicker for Bootstrap, for more info please visit the plugin's <a href="http://uxsolutions.github.io/bootstrap-datepicker" target="_blank">demo page</a> or <a href="http://github.com/uxsolutions/bootstrap-datepicker" target="_blank">Github repository</a>.</p>
            <hr>

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Basic demo</label>
              <div class="col-sm-5 col-lg-4">
                <input type="text" class="form-control" placeholder="Select date" id="datepicker-1">
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Today highlight</label>
              <div class="col-sm-5 col-lg-4">

                <!-- BEGIN Input Group -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Select date" id="datepicker-2">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar-alt"></i>
                    </span>
                  </div>
                </div>
                <!-- END Input Group -->

              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Helper buttons</label>
              <div class="col-sm-5 col-lg-4">

                <!-- BEGIN Input Group -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Select date" id="datepicker-3">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar-alt"></i>
                    </span>
                  </div>
                </div>
                <!-- END Input Group -->

              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Multiple</label>
              <div class="col-sm-5 col-lg-4">

                <!-- BEGIN Input Group -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Select date" id="datepicker-4">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar-alt"></i>
                    </span>
                  </div>
                </div>
                <!-- END Input Group -->

                <p class="mb-0 mt-2">You can select multiple date</p>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Week disabled and highlighted</label>
              <div class="col-sm-5 col-lg-4">

                <!-- BEGIN Input Group -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Select date" id="datepicker-5">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar-alt"></i>
                    </span>
                  </div>
                </div>
                <!-- END Input Group -->

              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Range picker</label>
              <div class="col-sm-5 col-lg-4">

                <!-- BEGIN Input Group -->
                <div class="input-group input-daterange">
                  <input type="text" class="form-control" placeholder="From">
                  <div class="input-group-prepend input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-ellipsis-h"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="To">
                </div>
                <!-- END Input Group -->

                <p class="mb-0 mt-2">Linked pickers for date range selection</p>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Week calendar</label>
              <div class="col-sm-5 col-lg-4">

                <!-- BEGIN Input Group -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Select date" id="datepicker-6">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar-alt"></i>
                    </span>
                  </div>
                </div>
                <!-- END Input Group -->

                <p class="mb-0 mt-2">Show week numbers on the calendar</p>
              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Locale</label>
              <div class="col-sm-5 col-lg-4">

                <!-- BEGIN Input Group -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Select date" id="datepicker-7">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar-alt"></i>
                    </span>
                  </div>
                </div>
                <!-- END Input Group -->

              </div>
            </div>
            <!-- END Form Group -->

            <!-- BEGIN Form Group -->
            <div class="form-group row mb-0">
              <label class="col-sm-4 col-lg-3 col-form-label text-muted text-sm-right">Inline</label>
              <div class="col-sm-5 col-lg-4">

                <!-- BEGIN Datepicker -->
                <div id="datepicker-8"></div>
                <!-- END Datepicker -->

              </div>
            </div>
            <!-- END Form Group -->

          </div>
        </div>
        <!-- END Portlet -->

      </div>
    </div>
  </div>
{% endblock %}
